<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<!-- 注解驱动和注解扫描的区别：注解驱动：自动配置处理映射器和处理适配器 -->
	<mvc:annotation-driven />
	<mvc:view-controller path="/" view-name="/app/main" />
	<context:component-scan base-package="cn.ac.iscas" />
	<aop:aspectj-autoproxy />
	<!-- 配置视图解析器，配置之后就不用写完整路径 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 真正的页面路径=前缀+去掉后缀的页面名称+后缀 -->
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- Configure the multipart resolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes 2G -->
		<property name="maxUploadSize" value="200000000" />
	</bean>
	<mvc:resources mapping="/css/**" location="/assets/css/"
		cache-period="31556926" />
	<mvc:resources mapping="/js/**" location="/assets/js/"
		cache-period="31556926" />
	<mvc:resources mapping="/img/**" location="/assets/img/"
		cache-period="31556926" />
	<mvc:resources mapping="/swf/**" location="/assets/swf/"
		cache-period="31556926" />
	<mvc:resources mapping="/views/**" location="/views/"
		cache-period="31556926" />
</beans>